h1 {
	color: grey;
	text-align: center;
	font-size: 25px;
}
p {
	text-align: center;
}
.lorem {
	font-size: 20px;
	color: black;
}
.block {
/*	margin-left: 50px;
	margin-right: 50px;
	margin-top: 200px;*/
	margin: 100px 50px 50px;
}
body {
	background-image: url("flag_standart.png");
	background-repeat: no-repeat;
	background-size: cover;
}